name: MultiCloud Terraform Deployment
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cloud: [aws, azure]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform -chdir=infra/${{ matrix.cloud }} init

      - name: Terraform Validate
        run: terraform -chdir=infra/${{ matrix.cloud }} validate

      - name: Terraform Plan
        run: terraform -chdir=infra/${{ matrix.cloud }} plan -out=tfplan

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        run: terraform -chdir=infra/${{ matrix.cloud }} apply -auto-approve tfplan
