name: Terraform Provision

on:
  repository_dispatch:
    types: [terraform-provision]

jobs:
  terraform:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    env:
      TF_WORKING_DIR: terraform
      AWS_REGION: ${{ github.event.client_payload.region }}
      TF_VAR_request_id: ${{ github.event.client_payload.requestId }}
      TF_VAR_state_key: ${{ github.event.client_payload.stateKey }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ github.event.client_payload.region }}

      - name: Debug working directory
        run: |
          echo "Root Directory:"
          pwd
          ls -R .
          echo "Terraform Directory:"
          ls -R $TF_WORKING_DIR

      - name: Terraform Init
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform init -backend-config="key=${{ github.event.client_payload.stateKey }}"

      - name: Terraform Plan
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform plan -out=tfplan.binary

      - name: Terraform Apply
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform apply -auto-approve tfplan.binary

      - name: Wait 5 minutes before auto-destroy
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: sleep 300  # 5 minutes

      - name: Auto Destroy VPC, Subnet, EC2
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform destroy -auto-approve -target=aws_instance.main -target=aws_subnet.main -target=aws_vpc.main
